<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.heeexy.example.dao.PermissionDao">

    <resultMap id="permissionMap" type="com.heeexy.example.util.model.One2Many">
        <id column="userId" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="roleId" property="roleId"/>
        <result column="roleName" property="roleName"/>
        <collection property="menuList" ofType="String">
            <id column="menuCode" property="menuCode"/>
        </collection>
        <collection property="permissionList" ofType="String">
            <id column="permissionCode" property="permissionCode"/>
        </collection>
    </resultMap>
    <select id="getUserPermission" resultMap="permissionMap">
        SELECT
            u.id              userId,
            u.nickname        nickname,
            u.role_id         roleId,
            r.role_name       roleName,
            p.menu_code       menuCode,
            p.permission_code permissionCode
        FROM sys_user u
                 LEFT JOIN sys_role r ON r.id = u.role_id
                 LEFT JOIN sys_role_permission rp ON u.role_id = rp.role_id
                 LEFT JOIN sys_permission p ON rp.permission_id = p.id AND rp.delete_status = '1'
        WHERE u.username = #{username}
          AND u.delete_status = '1'
    </select>

    <select id="getAllPermission" resultType="String">
        SELECT p.permission_code permissionCode
        FROM sys_permission p
        ORDER BY p.id
    </select>
    <select id="getAllMenu" resultType="String">
        SELECT p.menu_code menuCode
        FROM sys_permission p
        ORDER BY p.id
    </select>

    <select id="countPermission" resultType="Integer">
        SELECT count(0)
        FROM sys_permission
    </select>

    <select id="listPermission" resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            p.id                  id,
            p.menu_code           menuCode,
            p.menu_name           menuName,
            p.permission_code     permissionCode,
            p.permission_name     permissionName,
            p.required_permission requiredPermission
        FROM sys_permission p
        LIMIT #{offSet}, #{pageRow}
    </select>

    <insert id="insertPermission">
        INSERT INTO sys_permission(id,menu_code,menu_name,permission_code,permission_name,required_permission)
        VALUES(#{id},#{menuCode},#{menuName},#{permissionCode},#{permissionName},#{requiredPermission})
    </insert>

    <update id="updatePermission">
        UPDATE sys_permission
        <set>
            <if test="menuCode != null and menuCode != ''">menu_code=#{menuCode},</if>
            <if test="menuName != null and menuName != ''">menu_name=#{menuName},</if>
            <if test="permissionCode != null and permissionCode != ''">permission_code=#{permissionCode},</if>
            <if test="permissionName != null and permissionName != ''">permission_name=#{permissionName},</if>
            <if test="requiredPermission != null and requiredPermission != ''">
                required_permission=#{requiredPermission},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="getRolePermissionsByPermissionId" parameterType="java.lang.Integer"
            resultType="com.alibaba.fastjson.JSONObject">
        SELECT
            id,
            role_id roleId,
            permission_id permissionId
        FROM sys_role_permission
        WHERE permission_id = #{permissionId} AND delete_status = '1'
    </select>

    <delete id="deletePermission" parameterType="java.lang.Integer">
        DELETE FROM sys_permission
        WHERE id = #{id}
    </delete>

</mapper>
